<h1> 👤 Autor del Proyecto </h1>
<img src="../images/author.jpeg" alt="Foto del autor">
<p>Nombre: {{name}}</p>
<p>GitHub: <a href="https://github.com/{{github}}" target="_blank">{{github}}</a></p>



<p> <a href="/"> ⏪ Volver al inicio </a> </p>